
.Post {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    gap: 1rem;
    margin-top: 1.5rem;
}

.npic{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.dot {
    position: absolute;
    right: 1rem;
    cursor: pointer;
}


.po {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 0 1rem;
    gap: 0.5rem;
}

.po>span {

}

.po>img {
    
    max-height: 35rem;
    object-fit: cover;
    border-radius: 0.5rem;
    
}
 

.postReact {
    width: 95%;
    padding: 0 1rem;
    display: flex;
    align-items: flex-start;
    gap: 5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.lik {
    width: 95%;
        padding: 0 1rem;
}

 .com {
    display: flex;
    flex-direction: column;
 }
 .com>img{
    width: 2rem;
        height: 2rem;
        cursor: pointer;
 }

 .com>span{
    margin-top: 1rem;
 }